{namespace n=Tx_News_ViewHelpers}<!--
	=====================
		Partials/List/Item.html
-->
<div class="article columns small-12 medium-6 large-6{f:if(condition: newsItem.istopnews, then: ' topnews')}">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	<div class="article-wrap">

		<!-- header -->
		<h2 class="article__head">
			<n:link newsItem="{newsItem}" settings="{settings}">
				{newsItem.title}
			</n:link>
		</h2>

		<!-- body -->
	  <div class="article__body">
  		<f:if condition="{newsItem.teaser}">
  			<f:then>
  				{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
  			</f:then>
  			<f:else>
  				{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
  			</f:else>
  		</f:if>

  		<n:link newsItem="{newsItem}" settings="{settings}" class="more">
  			<f:translate key="more-link"/>
  		</n:link>

	  	<f:if condition="{newsItem.falMedia}">
		  	<ul class="article__images small-block-grid-1 medium-block-grid-3">
		  		
		  		<f:for each="{newsItem.falMedia}" as="mediaElement">
		  			<li data-type="1">
	  					<f:if condition="{mediaElement.originalResource.type} == 2">
	  						<n:link newsItem="{newsItem}" settings="{settings}">
	  							<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
	  						</n:link>
	  					</f:if>
		  			</li>
		  		</f:for>

		    </ul>
	    </f:if>
		</div>
	</div>
</div>
